

#navbar{
    background-color: rgb(8, 123, 161);
}
#nav{
    color: white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-display:initial;
    font-size: 1.5rem;
}

#title{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#ctask {
    margin: 20px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}
.myStyle{
    display:none;

}

.card{
    /* background-color:rgb(236,237,239); */
    background-color: rgb(217,224,228);
    border-color: rgb(19,36,36);
    font-size: large;
    border-width: 5px;
    font-style: italic
    
}

#taskform{
    background-color: rgb(158,191,240);
    border-color: midnightblue;
    font-family: serif;
    font-size: 18px;
   }

   .top{
    text-align:right;
    padding-right: 20px;
    
}